html {
  background-color: #000;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  color: #CCC;
  height: 100%;
  display: block;
}

a {
  color: #77F;
}
a:visited {
  color: #AAF;
}

input {
  width: 100%;
}