html {
  background-color: #000;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  color: #CCC;
  height: 100%;
  display: block;
}

a {
  color: #77F;
  text-decoration: none;
}
a:visited {
  color: #AAF;
}

input {
  width: 100%;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fly-from-left {
  0% {
    margin-left: -200%;
    position: relative;
  }
  100% {
    margin-left: 0;
    position: relative;
  }
}

@-webkit-keyframes fly-from-right {
  0% {
    left: 105%;
    position: relative;
  }
  100% {
    left: 0%;
    position: relative;
  }
}